/* Commented out styling used to test fonts in browser
h1 {
  font-family: SourceSerifPro-Black, 'Times New Roman', Times, serif;
}

h2 {
  font-family: SourceSerifPro-BlackIt, 'Times New Roman', Times, serif;
}

h3 {
  font-family: SourceSerifPro-ExtraLight, 'Times New Roman', Times, serif;
}

h4 {
  font-family: SourceSerifPro-It, 'Times New Roman', Times, serif;
}

h5 {
  font-family: SourceSerifPro-Light, 'Times New Roman', Times, serif;
}

h6 {
  font-family: SourceSerifPro-LightIt, 'Times New Roman', Times, serif;
}

p {
  font-family: SourceSerifPro-Regular, 'Times New Roman', Times, serif;
}
*/

* {
  font-family: SourceSerifPro-Regular, 'Times New Roman', Times, serif;
}

h1 {
  font-family: SourceSerifPro-Black;
}

.arbo-green {
  color: #00A144;
}

.arbo-green-bg {
  background-color: #00A144;
}

.btn-primary {
  background-color:#00A144;
  color: white;
  border: none;
}

.btn-primary:hover{
  background-color: #02682c;
}

.nav-link {
  color: #00A144;
  font-size: larger;
}

.nav-link:hover {
  color: #02682c;
}

.jumbotron {
  border-top:#00A144 5px solid;
  border-bottom: #00A144 5px solid;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-large {
  width: 100%;
}

.card-title {
  color:#00A144;
  font-family: SourceSerifPro-BlackIt;
}

.card:hover {
  box-shadow: 0 0 5px #000502;
  background-color: #e9f8ef;
}